body{
  background-image: url("../images/background.jpg");
  background-color: #FFCB05;
}
h1{
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}
img{
  width: 120px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: block;
  margin: auto;
  margin-right: auto;
}
div{
  padding: 30px;
  margin: 5px;

}
#mystuff{
  display: grid;
  justify-content: space-around;
  grid-template-columns: 100px 100px;
  grid-auto-rows: 200px 200px;
  /* justify-content: center;
  grid-template-columns:400px 100px; */
}
@media all and (min-width: 800px){
  #mystuff{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;

  }
  #mystuff div:nth-child(2){
    border: solid black 1px;
  }
  #mystuff div:nth-child(4){
    border: solid black 1px;
  }
  #mystuff div:nth-child(6){
    border: solid black 1px;
  }
  #mystuff div:nth-child(8){
    border: solid black 1px;
  }

}
